<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashwin.realmsandbox">

    <application
        android:name=".RealmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealmSandbox">
        <activity android:name=".delete.DeleteActivity"></activity>
        <activity android:name=".read.ReadOneActivity" />
        <activity android:name=".read.ReadAllActivity" />
        <activity android:name=".read.ReadActivity" />
        <activity android:name=".create.CreateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>